/* Large screens ----------- */
@media only screen and (min-width: 1000px) {
/* Styles */
  div#tweet, div#sendTweet {
    font-size: 1.0vw;
  }
  #footer img {
    max-height: 6vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  div.container {
    padding: 0;
    margin: 0;
  }

  div#snakeCanvasContainer {
    height: 85vh;
  }
  canvas#snakeCanvas {
    border: none;
  }

  div#tweet, div#sendTweet {
    font-size: 2.0vw;
  }

  #leaderBoard {
    font-size: 2.3vw;
  }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  div.container {
    padding: 0;
    margin: 0;
  }

  div#snakeCanvasContainer {
    height: 85vh;
  }
  canvas#snakeCanvas {
    border: none;
  }
  div#logo img.logo_img {
    height: 20vh;
  }

  div#tweet, div#sendTweet {
    font-size: 2.0vh;
  }

  #leaders {
    font-size: 2.0vh;
  }
}

@media only screen and (min-width: 1000px) and (orientation: landscape) {
  div#tweet, div#sendTweet {
    font-size: 1.2vh;
  }
}


@font-face {
    font-family: LVDCGameOver;
    src: url(../fonts/LVDCGO.TTF);
}

@font-face {
    font-family: 1STSORTI;
    src: url(../fonts/1STSORTI.TTF);
};

html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

img {
  background: #FFFFFF;
  vertical-align: middle;
}

#snakeContainer {
  position: relative;
  width: 100%;
  height: 85vh;
  border-bottom: medium solid #039be5;
  background-image: url("../image/white.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#snakeCanvasContainer {
  height: 84vh;
  position: relative;
}

#gameBoard {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  font-family: LVDCGameOver;
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#gameBoard .rules {
  font-family: sans-serif;
  font-size: 1.2vh;
}

#snakeCanvas {
  color: #039be5;
  border: 0.5vh solid #039be5;
}

.disabled {
  pointer-events: none;
}

#postLeader {
  display: inline-block;
}

#footer {
  position: relative;
  top: 5vh;
  height: 10vh;
  width: 100%;
}


#gameOver {
  display:none;
}

#tweet {
  font-family: 1STSORTI;
  color: black;
  display: none;
  text-align: left;
}

#action {
  padding-top: 5vh;
  cursor: pointer;
  clear: both;
}

#tweet .twitter-follow-button {
  transform: translate(0px, 10px);
}

#logo{
  margin: 0 auto 0 auto;
}

img.logo_img {
  display: block;
  margin: auto;
  width: 50%;
  background-color: transparent;
}

a[disabled="disabled"] .sendTweetImg {
  background-color: black;
}

.sendTweetImg {
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 2rem;
}

::-webkit-input-placeholder {
  color: blue;
}

:-moz-placeholder { /* Firefox 18- */
  color: blue;
}

::-moz-placeholder { /* Firefox 19+ */
  color: blue;
}

:-ms-input-placeholder { /* IE 10+ */
  color: blue;
}

::-ms-input-placeholder { /* Edge */
  color: blue;
}

:placeholder-shown { /* Standard one last! */
  color: blue;
}

@-webkit-keyframes blink {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.fadeIn {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}

#actionItems {
  text-align: left;
}
#footer div {
  position: relative;
}

#userHandle {
  font-family: sans-serif;
  font-size: 16px;
}

#footer img {
  max-height: 10vh;
}
