@font-face {
    font-family: LVDCGameOver;
    src: url(../fonts/LVDCGO.TTF);
}

@font-face {
    font-family: 1STSORTI;
    src: url(../fonts/1STSORTI.TTF);
};

html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

img {
  background: #FFFFFF;
  vertical-align: middle;
  /*box-shadow: 5px 5px 2px #888888;*/
  height: 100%;
}

#snakeCanvasContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#snakeCanvas {
  color: #039be5;
}

a[disabled="disabled"] {
  pointer-events: none;
  cursor: default;
}

#postLeader {
  display: inline-block;
}

#snakeContainer {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 5%;
  border-bottom: medium solid #039be5;
  background-image: url("../image/white.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#foot {
  position: absolute;
  max-height: 5%;
  bottom: 0;
  width: 100%;
}

#logo_bar {
  width: 40%;
  float: right;
}

.logo{
  height: 100%;
  width: 25%;
  float: right;

}

#menuContainer {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: LVDCGameOver;
    display: block;
}

#gameOver {
  display:none;
  font-size: 3.5vw;
}

#tweet {
  font-family: 1STSORTI;
  font-size: 1.5em;
  color:#1DA1F2;
  display: none;
  padding-top: 3rem;
}

#action {
  font-size: 2.8vw;
  cursor: pointer;
  clear: both;
}

#leaderTitle {
}

#leaders {
  display: table;
  opacity: 0;
  margin: 0 auto;
}

#leaders ol {
  max-width: 56em;
  text-align: center;
  padding: 0;
  float: left;
}

#leaders ol li {
  list-style-type: none;
  padding:0;
  margin:0;
  height: 1.5em;
  width: 28em;
  float: left;
}

#userHandle {
  width: 16em;
  background-color: rgba(249, 253, 255, 0.71);
  border-radius: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: sans-serif;
}

#sendTweet {
  font-size: 1rem;
}
.sendTweetImg {
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 5rem;


}

::-webkit-input-placeholder {
  color: blue;
}

:-moz-placeholder { /* Firefox 18- */
  color: blue;
}

::-moz-placeholder { /* Firefox 19+ */
  color: blue;
}

:-ms-input-placeholder { /* IE 10+ */
  color: blue;
}

::-ms-input-placeholder { /* Edge */
  color: blue;
}

:placeholder-shown { /* Standard one last! */
  color: blue;
}

.footers {
  max-height: 5%;
  vertical-align: middle;
}

@-webkit-keyframes blink {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

#leaders.fadeIn {
  opacity: 1.0;
}

.fadeIn {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}
#logo{
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-110%);
  width: 70%;
}

.logo_img {
  width:100%;
  background-color: transparent;
}
