/* Large screens ----------- */
@media only screen and (min-width: 1200px) {
/* Styles */
  div#tweet, div#sendTweet, input#userHandle{
    font-size: 1.0vw;
  }

  div#gameOver, div#action {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  div#gameOver, div#action {
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  div#gameOver, div#action {
    font-size: 1.5vw;
  }
  div#logo img.logo_img {
    height: 20vh;
  }

  #leaders ol li {
    font-size: 2.5vh;
  }

  div#tweet, div#sendTweet, input#userHandle{
    font-size: 2.5vh;
  }
}

@font-face {
    font-family: LVDCGameOver;
    src: url(../fonts/LVDCGO.TTF);
}

@font-face {
    font-family: 1STSORTI;
    src: url(../fonts/1STSORTI.TTF);
};

html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

img {
  background: #FFFFFF;
  vertical-align: middle;
}

#snakeCanvasContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1294px;
  max-height: 800px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 5px solid #039be5;
}

#snakeCanvas {

  color: #039be5;
}

a[disabled="disabled"] {
  pointer-events: none;
  cursor: default;
}

#postLeader {
  display: inline-block;
}

#snakeContainer {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 5%;
  border-bottom: medium solid #039be5;
  background-image: url("../image/white.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#foot {
  position: absolute;
  max-height: 5%;
  bottom: 0;
  width: 100%;
}

#logo_bar {
  width: 40%;
  float: right;
}

.logo{
  height: 100%;
  width: 25%;
  float: right;

}

#menuWrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    max-height: 800px;
    transform: translate(-50%, -50%);
    font-family: LVDCGameOver;
    display: block;
}

#gameOver {
  display:none;
  font-size: 1.5vw;
}

#tweet {
  font-family: 1STSORTI;
  color: black;
  display: none;
  margin: auto;
  max-width: 1294px;
  font-size: 2.5vw;
}

#action {
  font-size: 1.5vw;
  cursor: pointer;
  clear: both;
}

#leaderTitle {
}

#leaders {
  display: table;
  margin: 0 auto;
}

#leaders ol {
  width: 100%;
  text-align: center;
  padding: 0;
  float: left;
}

#leaders ol li {
  list-style-type: none;
  width: 50%;
  padding:0;
  margin:0;
  height: 1.5em;
  float: left;
}

#userHandle {
  width: 15em;
  background-color: rgba(249, 253, 255, 0.71);
  border-radius: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 16px;
  font-family: sans-serif;
}
.twitter-follow-button {
  transform: translate(0px, 10px);
}

#sendTweet {
  font-size: 2vw;
}

a[disabled="disabled"] .sendTweetImg {
  background-color: black;
}

.sendTweetImg {
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 3rem;
}

::-webkit-input-placeholder {
  color: blue;
}

:-moz-placeholder { /* Firefox 18- */
  color: blue;
}

::-moz-placeholder { /* Firefox 19+ */
  color: blue;
}

:-ms-input-placeholder { /* IE 10+ */
  color: blue;
}

::-ms-input-placeholder { /* Edge */
  color: blue;
}

:placeholder-shown { /* Standard one last! */
  color: blue;
}

.footers {
  max-height: 5%;
  vertical-align: middle;
}

@-webkit-keyframes blink {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

#leaders.fadeIn {
  opacity: 1.0;
}

.fadeIn {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}
#logo{
  margin: 0 auto 0 auto;
  width: 70%;
}

img.logo_img {
  display: block;
  margin: auto;
  height: 30vw;
  max-height: 350px;
  background-color: transparent;
}
